body{
    background-color: #232323;
    font-family:Calibri, 'Trebuchet MS', sans-serif!important;
    margin: 5%;
}

#content-header{

}

#content-header h1{
    color: #eee;
    letter-spacing: 2px;
    font-size: 4em;
}

#content-body{

}

#location-form{
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
    width: 30%;
    background-color: rgb(128, 125, 125);
}

#location-form input{
    border: 0;
    border-radius: 3px;
    height: 30px;
    width: 170px;
    
}

#location-form button{
    background-color: #ADC700;
    border: 0;
    border-radius: 3px;
    height: 30px;
    width: 140px;
}

#location-form button:hover{
    cursor: pointer;
}

.weather-container{
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
    width: 30%;
    background-color: lightgray;
    position: relative;
}

.weather-container h2{
    color: #232323;
    font-weight: 800;
}

.weather-icon-wrapper{
    position: absolute;
    top: 30px;
    right: 30px;
}


#content-footer{
    position: fixed;
    bottom: 50px;
    width: 100%;
}

#creator-link{
    color: #eee;
}